@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,800;1,400;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Rubik', sans-serif;
}